name: Forum Notifier Worker

on:
  schedule:
    - cron: "*/10 * * * *"
  workflow_dispatch:

jobs:
  worker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Compile
        run: javac -cp "lib/*" ForumNotifier.java

      - name: Run
        run: java -cp "lib/*:." ForumNotifier
        env:
          DB_URL: ${{ secrets.DB_URL }}
          EMAIL_FROM: ${{ secrets.MAIL_USER }}
          EMAIL_PASSWORD: ${{ secrets.MAIL_PASS }}
